html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

body .nowrap {
  white-space: nowrap;
}

body .logo {
  margin-left: auto;
  background-color: #79D6FD;
  margin-top: 70px;
  max-width: 100%;
  padding: 10px;
  display: block;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 40px;
}

body .heading {
  font-weight: 300;
  font-size: 33px;
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 20px;
}

body .heading strong {
  font-weight: 500;
}

body .redact {
  text-decoration: line-through;
  color: #aaa;
  white-space: nowrap;
}

body .above-fold {
  padding-top: 50px;
  min-height: 100%;
}

body .callout {
  margin-bottom: 60px;
}

body .contact {
  text-align: left;
}

body .contact .contact-logo {
  height: 30px;
  margin-left: 0;
  margin: 0 30px;
}

body .nav {
  margin-bottom: 25px;
}

body .nav ul {
  padding-left: 0;
}

body .nav ul li {
  display: inline-block;
  margin-right: 20px;
}

body .nav ul li a {
  font-size: 18px;
  color: #ccc;
}

body .section h2 {
  text-align: center;
  padding: 40px;
  color: white;
}

body .about h2 {
  background-color: #FF5722;
}

body .featured h2 {
  background-color: #9C27B0;
  margin-bottom: 50px;
}

body .featured .featured-work-item.light .header {
  color: black;
}

body .featured .featured-work-item.light .header .caption {
  background: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,1));
  padding-top: 20px;
}

body .featured .featured-work-item .header {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 30px;
}

body .featured .featured-work-item .header.border {
  border: solid #e7b8ef 1px;
}

body .featured .featured-work-item .header .caption.nogradient {
  background: none;
}

body .featured .featured-work-item .header .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
}

body .featured .featured-work-item .header .caption h3, body .featured .featured-work-item .header .caption h4 {
  margin: 0;
  line-height: 140%;
}

body .featured .featured-work-item .header .caption h3 {
  display: inline-block;
}

body .featured .featured-work-item .header .caption h4 {
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}

body .featured .featured-work-item p {
  font-size: 16px;
  text-align: justify;
  text-justfy: inter-word;
}

body .featured .divider {
  text-align: center;
  margin: 60px 0;
}

body .featured .mockdbs .header {
  color: black;
}

body .featured .mockdbs .header .caption {
  background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
}