html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

body .nowrap {
  white-space: nowrap;
}

body .logo {
  margin-left: auto;
  background-color: #79D6FD;
  margin-top: 70px;
  max-width: 100%;
  padding: 10px;
  display: block;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 40px;
}

body .heading {
  font-weight: 300;
  font-size: 33px;
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 20px;
}

body .heading strong {
  font-weight: 500;
}

body .redact {
  text-decoration: line-through;
  color: #aaa;
  white-space: nowrap;
}

body .above-fold {
  padding-top: 50px;
  min-height: 100%;
  position: relative;
  padding-bottom: 70px;
}

body .above-fold .scroll-down {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 20px;
  font-size: 22px;
  color: #ddd;
}

body .callout {
  margin-bottom: 60px;
}

body .contact-items {
  text-align: left;
}

body .contact-items .contact {
  display: block;
  margin-bottom: 30px;
}

body .contact-items .contact img {
  vertical-align: middle;
  display: inline-block;
  margin-top: -4px;
}

body .contact-items .contact a {
  font-size: 18px;
  line-height: 100%;
  display: inline-block;
}

body .contact-items .contact-logo {
  height: 30px;
  margin-left: 0;
  margin: 0 30px;
}

body .nav {
  margin-bottom: 25px;
  visibility: hidden;
}

body .nav ul {
  padding-left: 0;
}

body .nav ul li {
  display: inline-block;
  margin-right: 20px;
}

body .nav ul li a {
  font-size: 18px;
  color: #ccc;
}

body .section h2 {
  text-align: center;
  padding: 40px;
  color: white;
}

body .about {
  margin-bottom: 500px;
}

body .about h2 {
  background-color: #FF5722;
}

body .featured h2 {
  background-color: #FF5722;
  margin-bottom: 80px;
}

body .featured .featured-work-item.light .header {
  color: black;
}

body .featured .featured-work-item.light .header .caption {
  background: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,1));
  padding-top: 20px;
}

body .featured .featured-work-item .header {
  height: 300px;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 25px;
  margin-left: -13px;
  margin-right: -13px;
}

body .featured .featured-work-item .header.border {
  border: solid #ddd 1px;
}

body .featured .featured-work-item .header .caption.nogradient {
  background: none;
}

body .featured .featured-work-item .header .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
}

body .featured .featured-work-item .header .caption h3, body .featured .featured-work-item .header .caption h4 {
  margin: 0;
  line-height: 140%;
}

body .featured .featured-work-item .header .caption h3 {
  display: inline-block;
}

body .featured .featured-work-item h4 {
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 18px;
}

body .featured .featured-work-item p {
  font-size: 17px;
  font-weight: 400;
  line-height: 150%;
  text-align: justify;
  text-justfy: inter-word;
}

body .featured .divider {
  text-align: center;
  margin: 60px 0;
  background-color: #9C27B0;
  height: 1px;
  opacity: 0.3;
}

body .featured .mockdbs .header {
  color: black;
}

body .featured .mockdbs .header .caption {
  background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
}

.footer {
  background-color: #333;
  color: white;
  padding: 30px;
  text-align: center;
}

.footer .nav a {
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 22px;
}

.footer .contact-items {
  text-align: center;
  padding: 40px;
}

.footer .contact-items .contact {
  display: inline-block;
  margin-bottom: 40px;
}

.footer .contact-items .contact img {
  margin-top: 0;
}