
h1, h2, h3, h4, h5, h6, div {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #44aaee;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: #44aaee;
}

span.redact {
    text-decoration: line-through;
    color: #ccc;
}

div.flash_message {
    text-align: center;
}

h1 {
    font-size: 40pt;    
    font-weight: 400;
    margin-bottom: 14px;
}

.header_spacer {
    margin-top: 60px;
}

header p {
    font-size: 30px;
    line-height: 1.15em;
    color: #444;
}

header {
    font-weight: normal;
}

nav a {
    margin-right: 20px;
    font-size: 16pt;
}

ul.nav li a {
    font-size: 16pt;
    color: #66CCFF;
}

h3 {
    font-weight: 200;
    font-size: 15pt;
    margin-bottom: 5px;
}

div.contact_me ul {
    list-style-type: none;
}

div.contact_me ul li {
    margin: 0px;
    padding-left: 30px;
    margin-bottom: 4px;
}

div.contact_me a {
    font-size: 10pt;
}

div.contact_me p {
    font-size: 10pt;
}

div.work_experience ul {
    list-style-type: none;
}

div.work_experience ul li {
    margin: 0px;
}

div.work_experience h4 {
    font-weight: normal;
    font-size: 13pt;
}

div.work_experience h5 {
    font-weight: 600;
    font-size: 11pt;
}


div.work_experience p {
    font-weight: normal;
    font-size: 11pt;
}

div.latest_content ul {
    list-style-type: none;
}

div.latest_content ul li {
    margin: 0px;
    margin-bottom: 10px;
    padding-left: 32px;
}

li.email {
    background-image: url('/images/email.png');
    background-repeat: no-repeat;
    background-position: 4px 0px;
}   

li.github {
    background-image: url('/images/github.png');
    background-repeat: no-repeat;
    background-position: 4px 2px;
}   

li.rss {
    background-image: url('/images/rss.png');
    background-repeat: no-repeat;
    background-position: 4px 3px;
}   

li.linkedin {
    background-image: url('/images/linkedin.png');
    background-repeat: no-repeat;
    background-position: 4px 1px;
}   

li.twitter {
    background-image: url('/images/twitter_bird.png');
    background-repeat: no-repeat;
    background-position: 0px -2px;
}

li.google_reader {
    background-image: url('/images/reader.png');
    background-repeat: no-repeat;
    background-position: 5px 0px;
}

li.delicious {
    background-image: url('/images/delicious.png');
    background-repeat: no-repeat;
    background-position: 4px 2px;
}

.profile_pic {
    margin-top: 8px;
    margin-bottom: 8px;
}

div.project {
    margin-bottom: 40px;
}

div.project img.project_image {
    float: left;
    padding: 15px;
}

div.project div.ctnt {
    float: right;
}

div.project h3 {
    font-weight: normal;
}

div.project h6 {
    font-weight: normal;
}

div.project p {
    padding-top: 3px;
}

div.project span.tag {
    font-size: 7pt;
}

div.resume div.section {
    margin-bottom: 30px;
}

div.resume h5 {
    margin-bottom: 10px; 
    font-size: 16pt;
}

div.resume p {
    margin-bottom: 10px;
    font-size: 11pt;
}

div.resume h6 {
    font-size: 11pt;
    font-weight: bold;
}

div.resume h6.location {
    margin-bottom: 5px;
}

div.footer {
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px; 
    color: #cccccc;
    margin-bottom: 30px;
}

div.open_source img.project_image {
    padding-top: 0px;
}

div.open_source h1 {
    margin: 0px;
    padding: 0px;
}

div.open_source h3 {
    margin-bottom: 10px;
    margin-left: 25px;
}

div.left-pane {
    border: solid black 1px;
}

div.right-pane {
    border: solid black 1px;
}

.header_wrapper .site_logo {
    margin-bottom: 20px;
}
